/* Presentation */

.presentation-container {
    background-color: var(--BG-COLOR);
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presentation {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    /* background-color: var(--BG-COLOR);
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: hsla(0, 0%, 0%, 0.20);

    /* box-shadow: var(--SHADOW); */
}

.h1 {
    font-size: 400%;

    color: aliceblue;
    text-shadow: 2px 2px 5px #000;

    /* background-color: hsla(0, 0%, 0%, 0.40);
    padding: 0.25rem;
    border-radius: 10px; */
}

.presentation-pic-figure {
    width: 35%;
}

.presentation-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 250px;
    border: 5px double black;
    border-radius: 50%;
}

/* End presentation */
/* News */

.news {
    border: 2px solid var(--DARK-COLOR);
    border-radius: var(--BORDER-RADIUS);
    margin: 10px 5px;
    padding: 5px;
}

.news-pic-figure {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.news-pic-figure img {
    display: block;
    width: 80%;
    height: auto;
    min-width: 100px;
}

.news p {
    padding-left: 10px;
    background-color: hsla(0, 0%, 0%, 0.40);
    padding: 0.25rem;
    border-radius: var(--BORDER-RADIUS);
}

/* End news */
/* Education */

.education p {
    padding: 0px 0px;
    width: clamp(400px, 50%, 960px);
}

.education ul {
    padding-left: 2em;
}

/* End education */
/* Contact */

.contact-container {
    background-color: var(--BG-COLOR);
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    /* background-color: var(--BG-COLOR);
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: hsla(0, 0%, 0%, 0.20);
}

.h1 {
    display: block;
    font-size: 200%;

    color: aliceblue;
    text-shadow: 2px 2px 5px #000;

    /* background-color: hsla(0, 0%, 0%, 0.40);
    padding: 0.25rem;
    border-radius: 10px; */
}

.contact-pic-figure {
    display: inline;
    width: 10%;
}

.contact-pic-figure a img {
    width: 100%;
    height: auto;
    min-width: 64px;
}

/* End contact */