/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* End Reset */
/* All Page */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BBB;
}

header {
    margin-left: 260px;
}

main {
    margin-left: 260px;
}

footer {
    margin-left: 260px;
}

h1 {
    font-size: 2rem;
    padding: 0.5em;
}

h2 {
    font-size: 1.75rem;
    padding: 0.5em;
}

span {
    font-weight: bold;
}

p {
    padding-left: 5%;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover,
a:active {
    color: #eee;
}

ul {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

date:before {
    content: "🗓 ";
}

address:before {
    content: "📍 ";
}

/* End All Page */
/* Utility Classes */

.small_list {
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* End Utility Classes */
/* Presentation */

.presentation-container {
    background-color: #BBB;
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presentation {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    /* background-color: #BBB;
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: hsla(0, 0%, 0%, 0.20);
}

.h1 {
    font-size: 400%;

    color: aliceblue;
    text-shadow: 2px 2px 5px #000;

    /* background-color: hsla(0, 0%, 0%, 0.40);
    padding: 0.25rem;
    border-radius: 10px; */
}

.presentation-pic-figure {
    width: 35%;
}

.presentation-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 250px;
    border: 5px double black;
    border-radius: 50%;
}

/* End presentation */
/* News */

.news-pic-figure {
    width: 100%;
}

.news-pic-figure img {
    display: block;
    width: 80%;
    height: auto;
    min-width: 100px;
    /* border: 5px double black;
    border-radius: 5%; */
}

/* End news */
/* Contact */

/* .contact-pic-figure {
    width: 15%;
}

.contact-pic-figure img {
    display: inline-block;
    width: 100%;
    height: auto;
    min-width: 100px;
} */

.contact-pic-img {
    display: inline;
    width: 100%;
    height: auto;
    min-width: 100px;
}

/* End contact */