* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BBB;
}

header {
    margin-left: 260px;
}

main {
    margin-left: 260px;
}

footer {
    margin-left: 260px;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    width: 260px;
    text-align: left;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 15px 2px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sidenav a:hover,
.subnav:hover .subnavbtn {
    color: #f1f1f1;
    background-color: #F00;
}
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #BBB;
    width: 260px;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav-content-cat {
    width: 260px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 2rem;
    padding: 0.5em;
}

span {
    font-weight: bold;
}

p {
    padding-left: 5%;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover,
a:active {
    color: #eee;
}

img {
    padding: 10px;
}

ul {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.small_list {
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.presentation {
    text-align: left;
    font-weight: none;
    width: 50rem;
}

.center {
    text-align: center;
}

date:before {
    content: "🗓 ";
}

address:before {
    content: "📍 ";
}

.iframe-container {
    text-align: center;
}