/* Header */

.header-container {
    background-color: var(--BG-COLOR);
    background-image: url('../ressource/img/trips/betesa_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: hsla(0, 0%, 0%, 0.20);
}

.h1 {
    padding: 0px 20px;
    font-size: 300%;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
}

.header date {
    padding-left: 2em;
    font-size: 90%;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
    white-space: nowrap;
}

.header address {
    padding-left: 2em;
    font-size: 90%;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
    white-space: nowrap;
}

/* End header */