main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    margin-left: var(--SIDENAV-WIDTH);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-container {
    /* border: dashed 3px blue; */
    text-decoration: none;
}

/* Utility Classes */

.nowrap {
    white-space: nowrap;
}

/* End Utility Classes */
/* Projects Classes */

.card {
    scroll-margin-top: 0rem;
    background-color: #333;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card img {
    width: 95%;
    height: auto;
    border: 5px double black;
    border-radius: 50%;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.card p {
    text-align: center;
}

/* End Projects Classes */

/* || X-SMALL */
@media screen and (max-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
        margin-left: 0;
    }

    .card-container {
        width: min(100%, 800px);
    }
}

/* || SMALL */
@media screen and (min-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
        margin-left: 0;
    }

    .card-container {
        width: min(100%, 800px);
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
        margin-left: var(--SIDENAV-WIDTH);
    }

    .card-container {
        width: min(100%, 300px);

    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    .card-container {
        width: min(100%, 400px);
    }
}

/* || X-LARGE */
@media screen and (min-width: 1200px) {
    .card-container {
        width: min(calc(33% - 1rem, 500px));
    }
}