/* Sidenav */

.sidenav {
    height: 100%;
    width: var(--SIDENAV-WIDTH);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    width: var(--SIDENAV-WIDTH);
    text-align: left;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 15px 2px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnavbtn a {
    white-space: nowrap;
}

.sidenav a:hover,
.subnav:hover .subnavbtn {
    color: var(--LIGHT-COLOR);
    background-color: var(--ALT-COLOR);
    filter: brightness(100%);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #BBB;
    width: var(--SIDENAV-WIDTH);
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: var(--LIGHT-COLOR);
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: var(--LIGHT-COLOR);
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav-content-cat {
    width: var(--SIDENAV-WIDTH);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* End Sidenav */

/* || X-SMALL */
@media screen and (max-width: 576px) {
    .sidenav {
        display: none;
    }

    header,
    main,
    footer {
        padding-left: 0px;
    }
}

/* || SMALL */
@media screen and (min-width: 576px) {
    .sidenav {
        display: none;
    }

    header,
    main,
    footer {
        padding-left: 0px;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    .sidenav {
        display: block;
    }

    header,
    main,
    footer {
        padding-left: var(--SIDENAV-WIDTH);
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    .sidenav {
        display: block;
    }

    header,
    main,
    footer {
        padding-left: var(--SIDENAV-WIDTH);
    }
}

/* || X-LARGE */
@media screen and (min-width: 1200px) {
    .sidenav {
        display: block;
    }

    header,
    main,
    footer {
        padding-left: var(--SIDENAV-WIDTH);
    }
}

/* || XX-LARGE */
@media screen and (min-width: 1400px) {
    .sidenav {
        display: block;
    }

    header,
    main,
    footer {
        padding-left: var(--SIDENAV-WIDTH);
    }
}