* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BBB;
}

header {
    margin-left: 260px;
}

main {
    margin-left: 260px;
}

footer {
    margin-left: 260px;
}