* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BBB;
}

header, main, footer {
    margin-left: 260px;
}

/* footer {
    position: fixed;
    bottom: 0;
} */

section {
    display: flow-root;
}

h1 {
    font-size: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-left: 2rem;
}

h3 {
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 3rem;
}

p {
    padding: 0.5rem;
}

ul {
    padding-left: 3rem;
}

/* iframe {
    display: block;
    width: 100%;
} */

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover,
a:active {
    color: #eee;
}

.center {
    text-align: center;
}

.warning:before {
    content: "⚠ ";
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.right {
    float: center;
}

.sticky {
    background-color: #AAA;
    position: sticky;
    top: 0;
}

.hiden {
    display: none;
}

date:before {
    content: "🗓 ";
}

address:before {
    content: "📍 ";
}

table p {
    font-weight: normal;
}